@font-face {
  font-family: "pixel"; /* Choose a name for your font family */
  src: url("@/assets/fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: "montserrat"; /* Choose a name for your font family */
  src: url("@/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "pridi"; /* Choose a name for your font family */
  src: url("@/assets/fonts/Pridi-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --font-montserrat: montserrat, "sans-serif";
}
@theme {
  --font-pixel: pixel, "sans-serif";
}
@theme {
  --font-pridi: pridi, "sans-serif";
}
